.review-form {
    margin-top: 20px;
    border: 1px solid #EFEEEA;
    padding: 16px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        
}

.review-form h3 {
    margin-bottom: 12px;
}

.review-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.review-form select,
.review-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 20px;
}

.review-form button {
    margin-top: 12px;
    padding: 10px 15px;
    background: #273F4F;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.review-form button:hover {
    background: #eb571c;
 }